<h1>Two-way data-binding</h1>
<p>// [(ngModel)] directive</p>
<div>
  <input [(ngModel)]="model">
  <p>Notre data-binding : {{model}}</p>
</div>

<p>------------</p>

<h1>Transclusion</h1>
<p>// ng-content tag</p>
<app-transclusion>
  Wow - du contenu intégré dynamiquement !
</app-transclusion>  

<p>------------</p>

<h1>Event binding</h1>
<h3>Simple event-binding</h3>
<p>// (click) directive</p>
<button (click)="evBinding1($event)">Test event binding</button>

<h3>Event-binding & test lifecycle hooks</h3>
<p>// (click) directive, ngIf directive et ngOnInit(), ngOnDestroy hooks</p>
<button (click)="testHook = !testHook">Console hooks</button>
<app-test-hooks *ngIf="testHook"></app-test-hooks>

