
<div *ngIf="!loggedIn">
    <h1 class="monospace">Une ng-app :</h1>
    <mat-form-field>
      <input matInput placeholder="Nom" [(ngModel)]="model">
    </mat-form-field>
<button style="display:block" mat-raised-button color="primary" (click)="loggedIn=true">Sign-in</button>
</div>

<div *ngIf="loggedIn">
   <h1 class="monospace">Bienvenue {{model}}</h1>
   <mat-divider></mat-divider>
   <div style="margin: 20px 0">
    <p class="sans-serif">Chuck Norris fact : {{chuckFact}}</p>
    <button mat-raised-button color="primary" (click)="getFactFromService()">Change fact</button>
   </div>
   <mat-divider></mat-divider>
   <button style="display:block; margin-top: 20px" mat-raised-button color="primary" (click)="loggedIn=false">Sign-out</button>
</div>

